<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Page for adding a recipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-white">
            
                <div class="col-sm-6 offset-sm-3 text-center">
                
                    <h1 class="display-4">New Recipe</h1>
                    
                    <div class="info-form">
                    
                      <form th:object="${recipe}" th:action="@{save}" action="#" method="post">
                      <input type="hidden" th:field="*{id}" class="form-control"/>
                      
                            <div class="form-group">
								<input type="text" id="description" th:field="*{description}" class="form-control" placeholder="Description"/>
								<div style="clear: both; display: block; height: 10px;"></div>
                            </div>
                            
                            <div class="form-group">
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{instruction}" placeholder="Instructions"></textarea>
								<div style="clear: both; display: block; height: 10px;"></div>
                            </div>
                            
                            <div class="form-group">
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{ingredients}" placeholder="Ingredients"></textarea>
								<div style="clear: both; display: block; height: 10px;"></div>
							</div>
						
							<div class="form-group">
								<label for="time">Prepare time (min)</label>
								<input type="text" id="time" th:field="*{time}" class="form-control"/>
								<div style="clear: both; display: block; height: 10px;"></div>
							</div>
							
							<div class="form-group">
								<label for="categories">Category</label>
								<select class="form-control" id="categories" th:field="*{category}">
									<option th:each="category: ${categories}"
									th:value="${category.c_id}"
									th:text="${category.name}"></option>
								</select>
								<div style="clear: both; display: block; height: 40px;"></div>
							</div>
		
                           <button type="submit" class="btn btn-success ">Add Recipe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>